In [1]:
#John Robinson
#CSC 462 artificial intelligence
#Homework Assignment #1: Breadth-First and Depth-First Pathfinding
#9/10/21

In [2]:
import pandas as pd
import numpy as np
import queue

In [3]:
#input

print('please enter the file name and extension:')
while True:
    try:
        z = input()
        df = pd.read_csv(z)
        #BFS_DFS.csv
        break

    except FileNotFoundError:
        print("File not found.")
        print('please re-enter a correct file name and extension:')
    
    except Exception:
        print("Some other exception")

while True:
    try:
        print('enter start node(1-200)')
        x = int(input())
    except ValueError:
        print("Not a number")          
    else:
        if(x<=200 and x>=1):
            break
        else:
            print("not in range please enter again")
while True:
    try:            
        print('enter end node 1-200')
        y = int(input())
    except ValueError:
        print("Not a number")          
    else:
        if(y<=200 and y>=1):
            break
        else:
            print("not in range please enter again")
            
#z="BFS_DFS.csv"
#x=192
#y=186
#https://stackoverflow.com/questions/64302419/what-are-all-of-the-exceptions-that-pandas-read-csv-throw
#some help reading file exceptions

please enter the file name and extension:
BFS_DFS.csv
enter start node(1-200)
192
enter end node 1-200
186

In [4]:
df.head()

,From,To,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,4,48.0,75.0,90.0,125.0,165.0,181.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,30,72.0,76.0,160.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,6,39.0,59.0,64.0,71.0,112.0,153.0,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,52.0,66.0,159.0,160.0,181.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,65,75.0,152.0,169.0,190.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#reformating to array

In [6]:
df_t = df.T
print(df_t)

               0      1      2      3      4      5      6      7      8    \
From           1.0    2.0    3.0    4.0    5.0    6.0    7.0    8.0    9.0
To             4.0   30.0    6.0    1.0   65.0    3.0    8.0    7.0   14.0
Unnamed: 2    48.0   72.0   39.0   52.0   75.0   17.0   26.0   16.0  103.0
Unnamed: 3    75.0   76.0   59.0   66.0  152.0   66.0   29.0   22.0  141.0
Unnamed: 4    90.0  160.0   64.0  159.0  169.0  105.0   47.0   29.0  154.0
Unnamed: 5   125.0    NaN   71.0  160.0  190.0  114.0   60.0   62.0  184.0
Unnamed: 6   165.0    NaN  112.0  181.0    NaN  131.0   99.0  179.0  186.0
Unnamed: 7   181.0    NaN  153.0    NaN    NaN  164.0  122.0    NaN    NaN
Unnamed: 8     NaN    NaN    NaN    NaN    NaN  186.0  191.0    NaN    NaN
Unnamed: 9     NaN    NaN    NaN    NaN    NaN  199.0    NaN    NaN    NaN
Unnamed: 10    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Unnamed: 11    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Unnamed: 12    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Unnamed: 13    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

               9    ...    190    191    192    193    194    195    196  \
From          10.0  ...  191.0  192.0  193.0  194.0  195.0  196.0  197.0
To            13.0  ...    7.0   16.0   19.0  153.0   43.0   12.0  107.0
Unnamed: 2    56.0  ...   51.0   23.0   26.0    NaN   65.0   93.0   43.0
Unnamed: 3    85.0  ...   78.0   55.0   58.0    NaN   69.0  168.0   48.0
Unnamed: 4    97.0  ...  139.0   71.0    NaN    NaN    NaN    NaN    NaN
Unnamed: 5   130.0  ...    NaN  186.0    NaN    NaN    NaN    NaN    NaN
Unnamed: 6   137.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Unnamed: 7   184.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Unnamed: 8     NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Unnamed: 9     NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Unnamed: 10    NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Unnamed: 11    NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Unnamed: 12    NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Unnamed: 13    NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN

               197    198    199
From         198.0  199.0  200.0
To            81.0    6.0   33.0
Unnamed: 2    93.0   78.0   73.0
Unnamed: 3     NaN  126.0   93.0
Unnamed: 4     NaN  138.0    NaN
Unnamed: 5     NaN    NaN    NaN
Unnamed: 6     NaN    NaN    NaN
Unnamed: 7     NaN    NaN    NaN
Unnamed: 8     NaN    NaN    NaN
Unnamed: 9     NaN    NaN    NaN
Unnamed: 10    NaN    NaN    NaN
Unnamed: 11    NaN    NaN    NaN
Unnamed: 12    NaN    NaN    NaN
Unnamed: 13    NaN    NaN    NaN

[14 rows x 200 columns]

In [7]:
#reformating to array

In [8]:
type(df_t.to_numpy())

numpy.ndarray

In [9]:
array = df_t.to_numpy()
array = np.flip(array, axis=1)

In [10]:
#print(array[0])

In [11]:
import queue

In [12]:
q = queue.Queue()

In [47]:
startingnode = array[0][x]
solution = y
solutionx = 0
solutiony = 0
solutionfound = 0
#queue.append(startingnode)
q.put(startingnode)

In [48]:
#Breadth first search

In [49]:
q.get()
for i in range(len(array)):
    for j in range(len(array[i])):
        if(array[i][j] == solution):
            if(i != 0):
                if(solutionfound == 0):
                    solutionx = i
                    solutiony = j
                    #print("solution found")
                    #print(i)
                    #print(j)
                    solutionfound = 1
                    break
        if(j>=199):
            while not q.empty():
            #for l in range(0,200):
                q.get()
        else:
            if(array[i][j] != startingnode):
                q.put(array[i][j])
                #print(list(q.queue))
                #print(array[i][j])
                #print(queue)

In [50]:
print(list(q.queue))

[]

In [51]:
#backwards search for optimal path

In [57]:
distance = 0
startx = 0
starty = x
endx = solutionx
endy = solutiony
m= queue.Queue()
m.put(x)
done = 0

In [58]:
for i in range(len(array)):
    for j in range(len(array[i])):
        if(i == endx):
            if done == 0:
                m.put(solution)
                done = 1
                #print(list(m.queue))
                break
        if(i < endx):
            if(i != 0):
                if(endy == j):
                    m.put(array[i][j])

In [59]:
print(list(m.queue))

[192, 23.0, 129.0, 132.0, 186]

In [60]:
#depth first search

In [61]:
stack = []
startingnodeDFS = array[0][x]
solutionDFS = y
solutionxDFS = 0
solutionyDFS = 0
solutionfoundDFS = 0
#stack.append(x)
check = 1
count = 0
stackreset = 0

In [62]:
selectionx = 0
selectiony = 0
selection = 0
while(solutionfoundDFS == 0):
    selection = array[selectionx][selectiony]
    
    if(stackreset == 1):
        #print("stackreset")
        for b in range(count):
            stack.pop()
        stackreset = 0
        count = 0
    
    
    
    if(selectionx != 0):
        if(selection == solutionDFS):
            stack.append(selection)
            solutionfoundDFS = 1
            #print("solution found")
            #print(selection)
            break
    

    check = pd.isnull(array[selectionx][selectiony])
    
    count = count + 1
    stack.append(selection)
    print(stack)
    #print(selection)
    #print(check)
    selectionx= selectionx + 1
    if check == True:
        #if(pd.isnull(array[selectionx][selecti ony]) == true:
        selectiony = selectiony + 1
        selectionx = 0
        stackreset = 1
        continue

[200.0]
[200.0, 33.0]
[200.0, 33.0, 73.0]
[200.0, 33.0, 73.0, 93.0]
[200.0, 33.0, 73.0, 93.0, nan]
[199.0]
[199.0, 6.0]
[199.0, 6.0, 78.0]
[199.0, 6.0, 78.0, 126.0]
[199.0, 6.0, 78.0, 126.0, 138.0]
[199.0, 6.0, 78.0, 126.0, 138.0, nan]
[198.0]
[198.0, 81.0]
[198.0, 81.0, 93.0]
[198.0, 81.0, 93.0, nan]
[197.0]
[197.0, 107.0]
[197.0, 107.0, 43.0]
[197.0, 107.0, 43.0, 48.0]
[197.0, 107.0, 43.0, 48.0, nan]
[196.0]
[196.0, 12.0]
[196.0, 12.0, 93.0]
[196.0, 12.0, 93.0, 168.0]
[196.0, 12.0, 93.0, 168.0, nan]
[195.0]
[195.0, 43.0]
[195.0, 43.0, 65.0]
[195.0, 43.0, 65.0, 69.0]
[195.0, 43.0, 65.0, 69.0, nan]
[194.0]
[194.0, 153.0]
[194.0, 153.0, nan]
[193.0]
[193.0, 19.0]
[193.0, 19.0, 26.0]
[193.0, 19.0, 26.0, 58.0]
[193.0, 19.0, 26.0, 58.0, nan]
[192.0]
[192.0, 16.0]
[192.0, 16.0, 23.0]
[192.0, 16.0, 23.0, 55.0]
[192.0, 16.0, 23.0, 55.0, 71.0]

In [63]:
#print

In [64]:
print("Depth-first Search")
for u in stack:
    print(u, "- ",end="")
print()
print("Breadth-first traversal")
for r in list(m.queue):
    print(r, "- ",end="")
    
#ran out of time trying to figure out why i couldnt format out dash at the end

Depth-first Search
192.0 - 16.0 - 23.0 - 55.0 - 71.0 - 186.0 -
Breadth-first traversal
192 - 23.0 - 129.0 - 132.0 - 186 -